{% extends "base.html" %}
{% block title %}ویرایش قالب {{ t['name'] }}{% endblock %}
{% block header %}ویرایش قالب {{ t['name'] }}{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('templates.update', tid=t['id']) }}">
    <div class="mb-3">
        <label class="form-label" for="name">نام</label>
        <input type="text" class="form-control" name="name" value="{{ t['name'] }}"/>
    </div>

    <div class="mb-3">
        <label class="form-label" for="definition">تعریف قالب</label>
        <textarea name="definition" class="form-control" rows="2">فایل را بارگزاری نمایید</textarea>  <!-- {{ t['definition'] }} -->
    </div>
    <div class="mb-3">
        <label for="file" class="form-label">فایل قالب</label>
        <input name="file" type="file" class="form-control" onchange="encodeImageFileAsURL(this)"/>
    </div>   

    <button type="submit" class="btn btn-primary">ثبت</button>
</form>
{% endblock %}